* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height:100%;
}

#content {
    width: 100%;
    height: 100%;
}


.header {
    height:50px;
    width: 100%;
    background-color: #f87171;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs {
    width:275px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap:8px;
}

.tab-link {
    height:100%;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fee2e2;
    border: 2px solid #dc2626;


}


.body {
    height: 100%;
    width: 100%;
    background-image: url('./applesMatheusCenali.jpg');
    background-size: cover;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content {
    height: 100%;
    width: 60%;
    min-width: 250px;
    max-width: 800px;
    background-color: #f87171;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;

}

.content::-webkit-scrollbar {
    display: none;
}

.home, .contact {
    max-height: 95%;
    display: grid;
    justify-content: center;
    grid-template-rows: 150px 100px 100px 100px;
    gap:8px
  

   

}

.menuUpper {
    max-height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
    gap:8px;

    
}

.menu > * {
    height: 250px;
    width: 250px;
}

.menuImage {
    width:250px;
    height:250px;
    border: 1px solid #dc2626;
    display: flex;
    align-content: flex-end;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.isolatedAppleImage {
    background-image: url('./images/isolatedAppleBenjaminWong.jpg'
    );
}
.goodEatsImage {
    background-image: url('./images/goodEats.jpg'
    );
}
.appleBananaImage {
    background-image: url('./images/appleBananaphongNguyen.jpg'
    );
}
.multiAppleImage {
    background-image: url('./images/multiApplerebeccaHansen.jpg'
    );
}

.imageTextContainer{
    background-color: rgba(000,000,000,0.6);
    width: 100%;
    height:30px;
    
   
}


.imageText {
    font-size: 1.2em;
    color: white;

}

.homeImage {
    min-width: 180px;
    max-width: 300px;
    justify-self: center;
    width: 80%;
    height: 300px;
    background-image: url('./abhishekHajareAppleCocktail.jpg'
    );
    border-radius: 5px;
    
    
}



.contentLargeText {
    max-width: 95%;
    font-size: 1.5em;
    color: white;
    padding: 0px;

}

.map {

    justify-self: center;
    width: 80%;
    height:300px;
    min-width: 200px;
    min-height: 300px;
}

.contentSmallText {
    max-width: 95%;
    font-size: 1.2em;
    color: white;

}

.title {
    font-size: 2.5em;
    color: white;
    font-weight: 400;
    height:100px;
    max-width: 95%;
    padding: 0px;

}

.footer {
    height: 50px;
    width: 100%;
    background-color: #f87171;

}